<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOME</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/base.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="common-header">　
    <ul>
        <li><a href="profile">プロフィール</a></li>
        <li><a href="sampleCode">サンプルサイト</a></li>
    </ul>
</div>
<!-- <div class="header-content"></div> -->
<!-- 仮置き　ホームに何書くかは思いついたら入れる -->
<div class="body-content"><p style="font-size: 100px; text-align: center;">ポートフォリオ</p></div>
<!-- <div class="footer"></div> -->
</body>
</html>