@charset "UTF-8";
body {
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

div {
  border: 1px solid blue;
}

.common-header {
  background-color: black;
  color: white;
  width: 100%;
}

.common-header li {
  display: inline-block;
}

.common-header a:link,
.common-header a:visited,
.common-header a:hover,
.common-header a:active {
  color: white;
}

.right-content {
  float: right;
  margin-right: 5px;
}

.no-link {
  pointer-events: none;
}

.header-content-logo {
  width: 120px;
}

.header-content-logo h1 {
  margin: 0px;
  text-align: center;
}

.header-content-search {
  margin: 10px 20px;
}

.header-content-search input {
  width: 480px;
}

.header-content {
  display: flex;
}

.body-content-center {
  text-align: center;
}

.body-content-input h2{
  display: inline-block;
  margin: 0px;
}

